.go-page{
    color: var(--dark-smoke);
    font-size: 1.0rem;
    background: var(--snow);
    border: 1px solid var(--dark-snow);
    border-radius: 4px;
    width: 50px!important;
    margin: 0 4px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  
  .go-page-active{
    color: var(--fullbranco);
    font-size: 1.3rem;
    background: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    width: 50px!important;
    margin: 0 4px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
  }
  
  .icon-nav-page{
    margin: 0 5px;
    cursor: pointer;
  }